body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.info {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48%;
}

.code {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 43%;
}