* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TS-container {
 width: 100%;
 height: 100vh;
 background: linear-gradient(180deg, rgb(69, 67, 82), rgb(14, 13, 13));
 display: flex;
 justify-content: center;
 align-items: center;
}

.TS-box {
  height: 250px;
  width: 500px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px ;
  padding: 5px 10px;
}

button {
  height: 55px;
  cursor: pointer;
  margin: 50px;
  border-radius: 25px;
  color: white;
  border: none;
}

button:hover {
  box-shadow: 0 0 10px #d6d6cc, 0 0 20px #9c8fe9, 0 0 40px #fcfde5;
  transform: scale(1.01);
}
.timer button {
  width: 120px;
  font-size: 30px;
  background: rgb(214, 208, 29);
}

.stopWatch button {
  width: 150px;
  font-size: 25px;
  background: rgb(240, 37, 149);
}

